/* theme colors */
/* bg-main: #FFE4D5;
bg-secondary: #FFF1E0;
white: #FFFBF0;
peach: #FFD7CA;
darkpeach: #FFCDCA; */

.container {
}


/* nav styles  */

ul {
  list-style-type: none;
}

nav {
  margin-bottom: 2rem;
}

.left-nav-name {
  font-size: 1.2rem;
}

.left-nav-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: .03rem;
}

.right-nav {
  float: right;
  display: -webkit-inline-box;
  margin-top: -3rem;
  /* margin-right: 2rem; */
}

.right-nav > li {
    padding-right: 2.3rem;
}

/* hero styles */

.hero {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.hero p {
  margin: 0;
}

/* spotlight styles */
.spotlight-container {
  width: 80%;
  margin: 0 auto;
  background: RGBA(234, 247, 248, .3);
}

.featured-img {
  width: 35%;
  height: auto;
  border-radius: 5px;
  padding: 1rem;
}

.featured-text {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  width: 50%;
  font-size: 1.3rem;
  position: relative;
  margin-top: 2rem;
}

.featured-text p {
  margin-bottom: 5rem;
}

.featured-text button {
  display: block;
  font-size: 1rem;
  border-radius: .2rem;
  padding: .7rem;
  margin-top: 1rem;
  width: 60%;
  right: -7.5rem;
  position: absolute;
  text-align: left;
}
