/* theme colors */
/* bg-main: #FFE4D5;
bg-secondary: #FFF1E0;
white: #FFFBF0;
peach: #FFD7CA;
darkpeach: #FFCDCA; */

.container {
}


/* nav styles  */

ul {
  list-style-type: none;
}

.left-nav-name {
  font-size: 1.2rem;
}

.left-nav-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: .03rem;
}

.right-nav {
  float: right;
  display: -webkit-inline-box;
  margin-top: -3rem;
  margin-right: 2rem;
}

.right-nav > li {
    padding-right: 2.3rem;
}
